/**
 * SETTINGS
 *  - Color Variable
 *  - Font family
 *
 */


/* Color Variable */
$black: #000;
$white: #FFF;

$primary-color: #bf3554;
$secondary-color: #f9b914;
$cinnabar :#f48770;
$alice-blue: #f6f7f9;
$footer-bg: #343433;

$text-primary-color: #333333;
$text-secondary-color: #808080;

$facebook: #4267B2;
$twitter: #00acee;
$google: #db4a39;
$linkdedln: #0077b5;
$youtube: #FF0000;

/* Font family */
$font-opensans: 'Open Sans', sans-serif;