@font-face {
	font-family: $PxGrotesk;
	src: $PxGrotesk-url;
}
@font-face {
	font-family: $PxGrotesk-bold;
	src: $PxGrotesk-bold-url;
}
@font-face {
	font-family: $PxGrotesk-light;
	src: $PxGrotesk-light-url;
}
@font-face{
	font-family: $PxGrotesk-regular;
	src: $PxGrotesk-regular-url;
}
@font-face{
	font-family: $Aktiv-regular;
	src: $Aktiv-regular-url;
}
@font-face{
	font-family: $Aktiv-medium;
	src: $Aktiv-medium-url;
}
